body.corpinho {
    display: flex;
    justify-content: center;
    align-items:  center;
    min-height: 100vh;
   background: url(img/download.jpg) no-repeat;
   background-size: cover ;
   background-position: center;
   color: #fff;
}